<footer class="footer bg-gray-100">
    
    
    
  <section class="section">
    <div class="container"> 
      <div class="content has-text-centered">
          
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex justify-center text-teal-300 sm:justify-middle">
             <img class="rounded-full" src="https://static.thenounproject.com/png/2686167-84.png" width="40" height="40" />
             <div class="flex justify-center text-teal-300 sm:justify-start">
              <img class="rounded-full" src="https://www.svgrepo.com/show/494273/facebook-round.svg" width="25" height="25" />
              <img class="rounded-full" src="https://www.svgrepo.com/show/494278/linkedin-round.svg" width="25" height="25" />
              <img class="rounded-full" src="https://www.svgrepo.com/show/494277/instagram-round.svg" width="25" height="25" />
            </div>
            </div>
      
            
        </div>
        <p class="mt-4 text-sm text-center text-gray-400 lg:text-middle">
          T&C &nbsp; Career &nbsp; Privacy & Policy &nbsp; Developers
        </p>
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved | This website is made with <i class="fas fa-heart"></i>
          </p>
  
          
         
    </div>  
    </div>
  </section>

  
</footer>

