
<div class="max-w-8xl mx-auto sm:px-4 lg-px-8">
  <nav id="navbar" class="navbar">
    <div class="container">
  
        <div class="navbar-brand">
            <a class="navbar-item flex items-center flex-shrink-0 mr-6" href="{% url 'home' %}">
                <span class="font-semibold text-xl tracking-tight">JustPython</span>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                                 
            </span>
        </div>
  
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
  
                <div class="navbar-item">
                       <form method="get" action="/"> 
                        <div class="control has-icons-left">
                            <input class="input is-rounded" name="query" type="text" placeholder="Search">
                            <span class="icon is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                       </form>
                        
               
                </div>
  
                <a href="{% url 'home' %}" class="navbar-item is-active is-size-5 has-text-weight-semibold">
                    Home
                </a>
                <a href="{% url 'topic:topic-list' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                    Blog
                </a>
                <a href="{% url 'content:course-list' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                    Courses
                </a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'users:detail' request.user.username  %}" class="navbar-item is-size-5 has-text-weight-semibold">
                  My Profile
                </a>
  
                <a href="{% url 'account_logout' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                  Logout
                </a>
                {% endif %}
                {% if not request.user.is_authenticated %}
            <a href="{% url 'account_login' %}" class="navbar-item is-size-5 has-text-weight-semibold">
              Login
            </a>
            {% endif %}
            </div>
        </div>
        
    </div>
  </nav>
</div>




    

 
 {% comment %}
 <nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">inupcookie</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">Item</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link"
               href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
          </li>
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
          </li>
        {% else %}
          {% if ACCOUNT_ALLOW_REGISTRATION %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
            </li>
          {% endif %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
 {% endcomment %}
  