{% extends 'base.html' %}


{% block title %}{{course.name}} | {% endblock %}
{% block content %}

<style>
    a.text-white:hover {
 
        font-size: 3.2em;
    }

</style>



<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
    <article>
        <h2 class="text-2xl font-extrabold text-gray-900">Courses</h2>
        <section class="mt-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-6 gap-y-5">
                        {% for course in object_list  %}
                        <div class="contailner bg-gray-100 pb-2 rounded-lg shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out">
                            <article>
                                    {% if course.thumbnail %}
                                    <article class="relative w-full h-60 sm:h-40 md:h-60 bg-cover bg-center group overflow-hidden"
                                    style="background-image: url('{{ course.thumbnail.url }}'); background-size: 100% 100%;">
                                    {% else %}
                                    <article class="relative w-full h-60 sm:h-40 md:h-60 bg-cover bg-center group overflow-hidden"
                                    style="background-image: url('https://img.freepik.com/free-vector/software-integration-concept-illustration_114360-7277.jpg?w=826&t=st=1698397973~exp=1698398573~hmac=d9926802a41e637f07611ecf1da58a965f14a10115df8f410fee7bacbaff3603');">
                                    {% endif %}
                                
                                <div class="absolute inset-0 bg-black bg-opacity-30 group-hover:opacity-75 group-hover:bg-gray-300 transition duration-400 ease-in-out">
                                    <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                                        <h3 class="text-center">
                                            <a class="text-white text-2xl font-bold text-center" href="{% url 'content:course-detail' course.slug %}">
                                                <span class="absolute inset-1"></span>
                                                {% if course.pricing_tiers.all %}
                                                <h1>Beginer</h1>
                                                {% else %}
                                                <h1>Inrtermediate</h1>
                                                {% endif %}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </article>
                            <p class="pl-3 pt-3" >
                                <a href="{{ course.get_absolute_url }}">{{ course.name }}</a>
                            </p>
                            <p class="pl-3 pt-3" > 
                                {{ course.description }}
                            </p>
                        </div>
                        {% empty %}
                        <div class="content">
                            <p>{{ course.name }}</p>
                        </div>
                        {% endfor %}
        </section>
    </article>
</section>


{% endblock %}