{% extends 'base.html' %}
{% block title %}Home | JustPython{% endblock %}

{% block content %}

<style>
   body {
      font-family: 'Roboto', sans-serif;
   }

   .small-text {
      font-size: 0.875rem;
   }
</style>


<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
   <article>
      <h2 class="text-2xl font-extrabold text-gray-900">BLOG</h2>

      <section class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8">
         {% for post in object_list %}
         <div
            class="contailner bg-gray-100 pb-2 rounded-lg shadow-lg hover:shadow-2xl transition duration-300 ease-in-out">
            <a href="{% url 'blog:blog_detail' post.category.slug post.slug %}">
               <article class="m-1 group relative flex flex-col space-y-2">
                  <img src="{{ post.image.url }}" width="804" height="452"
                     fetchpriority="high" data-nimg="1" class="rounded-md bg-muted transition-colors"
                     style="color:transparent" loading="lazy">
                  <h2 class="text-1xl font-extrabold font-bold">
                     <span class="absolute inset-0"></span>
                     {{ post.title }}
                  </h2>
                  <p class="text-muted-foreground small-text">{{ post.intro|linebreaks }}</p>
                  <p class="text-sm text-muted-foreground small-text">{{ post.created_at|timesince }} ago</p>
                  <a class="absolute inset-0" href="/blog/build-a-blog-with-django">
                     <span class="sr-only">View Article</span>
                  </a>
               </article>
            </a>

         </div>

         {% endfor %}
      </section>

   </article>
</section>

{% endblock %}