{% extends 'base.html' %}
{% block title %}search | {% endblock %}
{% block content %}





            <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 mb-12">
                <article>
                    <h1 class="text-2xl font-extrabold text-gray-900">seach results</h1>
                    <h3 class="text-2xl font-extrabold text-gray-900">Query "{{ query }}"</h3>
                    <section class="mt-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-6 gap-y-8">
                       {% for post in posts %}
                       <div class="contailner bg-gray-100 pb-2 rounded-lg shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out">
                        <article>
                            <p class="pl-18 pl-3 sm:text-bottom">{{ post.created_at|timesince }} ago</p>
                                {% if post.image %}
                                <article class="relative w-full h-80 bg-cover bg-center group overflow-hidden"
                                style="background-image: url('{{ post.image.url }}');">
                                {% else %}
                                <article class="relative w-full h-80 bg-cover bg-center group overflow-hidden"
                                style="background-image: url('https://img.freepik.com/free-vector/software-integration-concept-illustration_114360-7277.jpg?w=826&t=st=1698397973~exp=1698398573~hmac=d9926802a41e637f07611ecf1da58a965f14a10115df8f410fee7bacbaff3603');">
                                {% endif %}
                            
                            <div class="absolute inset-0 bg-black bg-opacity-30 group-hover:opacity-75 group-hover:bg-gray-300 transition duration-400 ease-in-out">
                                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                                    <h3 class="text-center">
                                        <a class="text-white text-2xl font-bold text-center" href="{% url 'post_detail' post.category.slug post.slug %}">
                                            <span class="absolute inset-0"></span>
                                            {{ post.title }}
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </article>
                        <p class="pl-3 pt-3" >
                           
                            {{post.intro}}
                        </p>
                    </div>
                        {% empty %}
                        <div class="content text-center">
                            <p>No Results for the given query.....</p>
                        </div>
                        {% endfor %}
                    </section>
                </article>
            </section> 


{% endblock %}