{% extends "extra_base.html" %}

{% block title %}Home | {% endblock %}
{% block content %}






<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


<section class="relative  bg-blueGray-50">
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80');
          ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Your Final Destination To Become
              <span class="block text-6xl text-blue-500">Software Developer</span>
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              <span class="block font-semibold text-2xl">Embark on a Journey:</span>
              <span class="block text-xl">Master Projects from Beginner to Advanced Levels</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-10 bg-blueGray-200 -mt-24">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
      Features
    </h2>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold text-indigo-700">Empowering Knowledge Growth</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Our platform offers comprehensive instruction in various programming languages and technologies,
                empowering users to expand their knowledge and skills.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold text-indigo-700">Free Revisions</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                We focus on providing quality information over quantity. Everything you learn is designed to prepare you
                for online testing.
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold text-indigo-700">Verified Learning Site</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Explore meticulously researched content thoughtfully curated for your learning journey on our platform.
              </p>
            </div>
          </div>
        </div>
      </div>
  
  </section>

  <!-- <section class="bg-blueGray-200 h-screen overflow-hidden flex items-center justify-center">
      <section class="bg-blueGray-200 h-screen overflow-hidden flex items-center justify-center">

<main class="grid min-h-screen w-full place-items-center bg-gray-900 pt-9">
    <div class="absolute h-96 w-80 -translate-x-1/2 -translate-y-1/2 rotate-6 rounded-2xl bg-gray-400"></div>

    <div class="absolute h-96 w-80 -translate-x-1/2 -translate-y-1/2 rotate-6 space-y-6 rounded-2xl bg-gray-100 p-6 transition duration-300 hover:rotate-0">
        <div class="flex justify-end">
            <div class="h-4 w-4 rounded-full bg-gray-900"></div>
        </div>

        <header class="text-center text-xl font-extrabold text-gray-600">2021.09.01</header>

        <div>
            <p class="text-center text-5xl font-extrabold text-gray-900">Take Revisions test</p>
            <p class="text-center text-4xl font-extrabold text-[#FE5401]">2 hours</p>
        </div>

        <footer class="mb-10 flex justify-center">
            <button class="flex items-baseline gap-2 rounded-lg bg-[#FE5401] px-4 py-2.5 text-xl font-bold text-white hover:bg-[#FF7308]">
                <span>Start</span>
                <i class="fas fa-hand-peace text-xl"></i>
            </button>
        </footer>
    </div>
</main>
        </section>
<main class="grid min-h-screen w-full place-items-center bg-gray-900 pt-9">
    <div class="absolute h-96 w-80 -translate-x-1/2 -translate-y-1/2 rotate-6 rounded-2xl bg-gray-400"></div>

    <div class="absolute h-96 w-80 -translate-x-1/2 -translate-y-1/2 rotate-6 space-y-6 rounded-2xl bg-gray-100 p-6 transition duration-300 hover:rotate-0">
        <div class="flex justify-end">
            <div class="h-4 w-4 rounded-full bg-gray-900"></div>
        </div>

        <header class="text-center text-xl font-extrabold text-gray-600">2021.09.01</header>

        <div>
            <p class="text-center text-5xl font-extrabold text-gray-900">Take Revisions test</p>
            <p class="text-center text-4xl font-extrabold text-[#FE5401]">2 hours</p>
        </div>

        <footer class="mb-10 flex justify-center">
            <button class="flex items-baseline gap-2 rounded-lg bg-[#FE5401] px-4 py-2.5 text-xl font-bold text-white hover:bg-[#FF7308]">
                <span>Start</span>
                <i class="fas fa-hand-peace text-xl"></i>
            </button>
        </footer>
    </div>
</main>
        </section> -->






</section>







{% endblock content %}